services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # Le pasamos la URL base de la API
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "${FRONTEND_PORT}:3000"
    env_file:
      - .env